
<h1>hhh</h1>
<h2>hww</h2>
<h3>hgyyuyiuyiuy</h3>
<div style="text-align: center;">

    <h1>{{ title }} </h1>

    <div style="text-align:left; background-color:blueviolet;" id="question1">{{qa1.id}}.{{qa1.question1}}</div>

    <div style="display:inline-block;background-color: pink;" id="answer1{{qa1.id}}">{{qa1.answer1}}</div><br><br>
    <div style="text-align:left; background-color: blueviolet;" id="question2">{{qa2.id}}.{{qa2.question2}}</div>

    <div style="display:inline-block;background-color: pink;" id="answer2">{{qa2.answer2}}</div><br><br>
    <div style="text-align:left;background-color: violet;" id="question3">{{qa3.id}}.{{qa3.question3}}</div>

    <div style="display:inline-block; background-color: pink;" id="answer3">{{qa3.answer3}}</div><br><br>
    <div style="text-align:left; background-color:violet;" id="question4">{{qa4.id}}.{{qa4.question4}}</div>

    <div style="display:inline-block;background-color: pink;" id="answer4">{{qa4.answer4}}</div> <br><br>
    <div style="text-align:left;background-color:violet;" id="question5">{{qa5.id}}.{{qa5.question5}}</div>

    <div style="display:inline-block;background-color:pink;" id="answer5">{{qa5.answer5}}</div>


</div>


